<footer
  class="flex justify-between items-center bg-black mt-5 p-5 h-[55px] lg:h-[90px]"
>
  <a routerLink="/" class="flex justify-center items-center">
    <span class="text-xl lg:text-4xl text-blue-600 dark:text-[#d38312]"
      >Re<span
        class="bg-clip-text text-transparent bg-gradient-to-r from-[#D38312] to-[#A83279] dark:from-[#333333] dark:to-[#dd1818]"
        >Seller</span
      ></span
    >
  </a>

  <span class="text-xs lg:text-sm text-white"
    >&copy; {{ year }}
    <a
      href="https://t.me/zperekoty"
      target="_blank"
      class="text-blue-600 dark:text-[#ba730f] transition-all duration-300 ease-in-out hover:text-blue-400 dark:hover:text-[#d38312]"
    >
      Захар Перекотий
    </a>
  </span>
</footer>
