<section class="flex justify-center flex-col px-6">
  <h1
    class="text-4xl text-center lg:text-left mt-5 text-black dark:text-white/70"
  >
    Цены
  </h1>

  <p class="text-sm lg:text-lg mt-5 ml-3 text-black dark:text-white/70">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta, magnam
    eius praesentium exercitationem tenetur possimus adipisci obcaecati officiis
    odit iste nostrum enim quasi cupiditate amet asperiores in aperiam? Nostrum
    quaerat velit officia excepturi amet, sit omnis corrupti alias perferendis
    ullam praesentium veritatis aliquid quo laudantium sapiente assumenda eius?
    Ab, dignissimos? Quo dignissimos debitis, fuga voluptatum quasi voluptates
    atque provident dicta, voluptatibus odio autem rem? Recusandae similique,
    placeat voluptatem quae odio explicabo eius nostrum sed exercitationem,
    architecto quis. Cum excepturi debitis aperiam quam quos ullam natus odio
    unde at reprehenderit earum consequatur magni consectetur, mollitia illum
    eos sit tempore expedita ipsam id perspiciatis adipisci praesentium! Eos
    asperiores maxime nulla voluptas doloribus sunt sapiente culpa iste facilis
    blanditiis error corrupti vitae, nihil aliquid soluta, architecto velit ut?
    Laudantium optio ex architecto deserunt dolores hic molestias, excepturi
    voluptatibus, officia alias at, esse fugit natus itaque quos odio aperiam
    quasi. Alias impedit provident ab qui voluptatum laborum voluptates
    molestiae, veniam placeat maxime perspiciatis? Dicta illum debitis eum
    aliquam officia, dignissimos consequatur provident quo voluptatibus
    voluptatem, placeat hic eveniet ratione vel molestiae ex excepturi sunt quod
    molestias repudiandae. Dignissimos expedita doloremque, nesciunt,
    voluptatibus sunt esse corrupti rerum deleniti sint quod obcaecati.
    Reprehenderit enim beatae velit.
  </p>
</section>
