<section class="flex justify-center items-center flex-col">
  <h1 class="text-4xl text-black dark:text-white">Профиль</h1>

  <div class="flex justify-center items-center flex-col gap-3 mt-5">
    <div
      class="flex justify-center items-center gap-5 shadow-xl dark:shadow-none bg-white/80 dark:bg-black/60 p-5 rounded-xl flex-col w-[350px] lg:w-[480px]"
    >
      <div class="flex justify-center items-center gap-2 flex-col">
        <div class="rounded-xl overflow-hidden">
          <img
            src="https://robohash.org/{{ authService.user.name }}"
            alt="{{ authService.user.name }}"
            class="bg-blue-600 dark:bg-[#d38312] transition-[transform] duration-300 ease-in-out hover:scale-110"
            draggable="false"
          />
        </div>

        <span class="text-lg text-black dark:text-white">{{
          authService.user.name
        }}</span>
      </div>

      <div class="flex justify-center items-start gap-2 flex-col mr-auto">
        <span class="text-base lg:text-xl text-black dark:text-white"
          >🪪 ID:
          <span class="italic text-black/80 dark:text-white/80">{{
            authService.user.id
          }}</span></span
        >

        <span
          *ngIf="authService.user.telegramId"
          class="text-base lg:text-xl text-black dark:text-white"
          >🪪 Telegram ID:
          <a
            href="https://t.me/{{ authService.user.telegram }}"
            target="_blank"
            class="italic text-blue-600 dark:text-[#d38312] transition-all duration-300 ease-in-out hover:text-black dark:hover:text-white"
            >{{ authService.user.telegramId }}</a
          ></span
        >

        <span class="text-base lg:text-xl text-black dark:text-white"
          >💰 Баланс:
          <span class="italic text-black/80 dark:text-white/80">{{
            authService.user.balance
              | currency : "RUB" : "symbol-narrow" : ".0-2"
          }}</span></span
        >

        <span class="text-base lg:text-xl text-black dark:text-white"
          >🛍️ Количество товаров:
          <span class="italic text-black/80 dark:text-white/80">{{
            authService.user.products.length
          }}</span></span
        >

        <span class="text-base lg:text-xl text-black dark:text-white"
          >💵 Количество продаж:
          <span class="italic text-black/80 dark:text-white/80">{{
            authService.user.buys.length
          }}</span></span
        >

        <span class="text-base lg:text-xl text-black dark:text-white"
          >🛒 Количество покупок:
          <span class="italic text-black/80 dark:text-white/80">{{
            authService.user.orders.length
          }}</span></span
        >
      </div>

      <div
        class="flex justify-center items-center w-full"
        (click)="deleteAccount()"
      >
        <button
          class="p-3 w-full rounded-xl bg-red-600 transition-all duration-300 ease-in-out hover:bg-red-700"
        >
          Удалить аккаунт
        </button>
      </div>
    </div>

    <div
      class="flex justify-center items-center flex-col lg:flex-row gap-3 w-full shadow-xl dark:shadow-none bg-white/80 dark:bg-black/60 p-5 rounded-xl"
      *ngIf="
        authService.user.buys.length ||
        authService.user.products.length ||
        authService.user.orders.length
      "
    >
      <div
        *ngIf="authService.user.buys.length"
        class="overflow-y-scroll flex text-center p-3 flex-col max-h-[500px] lg:max-h-[700px] gap-2 scroll"
      >
        <h2 class="text-xl text-black dark:text-white">💵 Ваши продажи</h2>

        <div
          *ngFor="let product of authService.user.buys"
          class="flex p-2 gap-4 lg:gap-2 w-[250px] lg:w-[350px] flex-col justify-center items-center bg-white dark:bg-black {{
            !darkModeSerivce.darkMode ? 'shadow-lg' : ''
          }} rounded-[20px] border-transparent border-2 transition-all duration-300 ease-in-out hover:border-blue-600 dark:hover:border-[#d38312]"
        >
          <div class="overflow-hidden rounded-[20px]">
            <img
              src="https://robohash.org/{{
                product.name.replaceAll(' ', '%20')
              }}?set=set4"
              alt="{{ product.name }}"
              draggable="false"
              width="150"
              height="150"
              class="bg-blue-600 dark:bg-[#d38312] transition-[transform] duration-300 ease-in-out hover:scale-110"
            />
          </div>

          <span
            class="text-sm lg:text-base text-black dark:text-white italic"
            >{{ product.name }}</span
          >
          <div class="flex justify-between items-center w-full">
            <span class="text-xs lg:text-sm text-black dark:text-white"
              >Количество:
              <span class="italic">{{ product.amount | number }}</span></span
            >
            <span class="text-xs lg:text-sm text-black dark:text-white"
              >Цена
              <span class="italic">{{
                product.price * product.amount
                  | currency : "RUB" : "symbol-narrow" : ".0-2"
              }}</span></span
            >
          </div>
        </div>
      </div>

      <div
        *ngIf="authService.user.products.length"
        class="overflow-y-scroll flex text-center p-3 flex-col max-h-[500px] lg:max-h-[700px] gap-2 scroll"
      >
        <h2 class="text-xl text-black dark:text-white">🛍️ Ваши товары</h2>

        <div
          *ngFor="let product of products"
          class="flex p-2 gap-4 lg:gap-2 w-[250px] lg:w-[350px] flex-col justify-center items-center bg-white dark:bg-black {{
            !darkModeSerivce.darkMode ? 'shadow-lg' : ''
          }} rounded-[20px] border-transparent border-2 transition-all duration-300 ease-in-out hover:border-blue-600 dark:hover:border-[#d38312]"
        >
          <div class="overflow-hidden rounded-[20px]">
            <img
              src="https://robohash.org/{{
                product.name.replaceAll(' ', '%20')
              }}?set=set4"
              alt="{{ product.name }}"
              draggable="false"
              width="150"
              height="150"
              class="bg-blue-600 dark:bg-[#d38312] transition-[transform] duration-300 ease-in-out hover:scale-110"
            />
          </div>

          <span
            class="text-sm lg:text-base text-black dark:text-white italic"
            >{{ product.name }}</span
          >
          <div class="flex justify-between items-center w-full">
            <span class="text-xs lg:text-sm text-black dark:text-white"
              >Количество:
              <span class="italic">{{ product.amount | number }}</span></span
            >
            <span class="text-xs lg:text-sm text-black dark:text-white"
              >Цена
              <span class="italic">{{
                product.price * product.amount
                  | currency : "RUB" : "symbol-narrow" : ".0-2"
              }}</span></span
            >
          </div>

          <div
            class="flex justify-between items-center w-full gap-4 lg:gap-1 flex-col lg:flex-row"
          >
            <button
              class="text-sm lg:text-sm text-black dark:text-white p-2 bg-fuchsia-600 rounded-[20px] transition-all duration-300 ease-in-out hover:bg-blue-600 dark:hover:bg-[#d38312] w-full lg:w-auto"
              (click)="
                updateProduct({
                  name: product.name,
                  description: product.description,
                  price: product.price,
                  amount: product.amount,
                  id: product.id,
                  owner: authService.user.id,
                  interface: 'products'
                })
              "
            >
              Редактировать
            </button>

            <button
              class="text-sm lg:text-sm text-black dark:text-white p-2 bg-red-600 rounded-[20px] transition-all duration-300 ease-in-out hover:bg-blue-600 dark:hover:bg-[#d38312] w-full lg:w-auto"
              (click)="deleteProduct(product.id, product.name)"
            >
              Удалить
            </button>
          </div>
        </div>
      </div>

      <div
        *ngIf="authService.user.orders.length"
        class="overflow-y-scroll flex text-center p-3 flex-col max-h-[500px] lg:max-h-[700px] gap-4 scroll"
      >
        <h2 class="text-xl text-black dark:text-white">🛒 Ваши покупки</h2>

        <div
          *ngFor="let order of orders"
          class="flex p-2 gap-4 w-[250px] lg:w-[350px] flex-col justify-center items-center bg-white dark:bg-black {{
            !darkModeSerivce.darkMode ? 'shadow-lg' : ''
          }} rounded-[20px] border-transparent border-2 transition-all duration-300 ease-in-out hover:border-blue-600 dark:hover:border-[#d38312]"
        >
          <h2 class="text-[10px] lg:text-base text-black dark:text-white">
            🪪 Заказ: {{ order.id }}
          </h2>

          <div
            *ngFor="let product of order.products"
            class="flex justify-center items-center flex-col gap-4 lg:gap-2 w-full"
          >
            <div class="overflow-hidden rounded-[20px]">
              <img
                src="https://robohash.org/{{
                  product.name.replaceAll(' ', '%20')
                }}?set=set4"
                alt="{{ product.name }}"
                draggable="false"
                width="150"
                height="150"
                class="bg-blue-600 dark:bg-[#d38312] transition-[transform] duration-300 ease-in-out hover:scale-110"
              />
            </div>

            <span
              class="text-sm lg:text-base text-black dark:text-white italic"
              >{{ product.name }}</span
            >
            <div class="flex justify-between items-center w-full">
              <span class="text-xs lg:text-sm text-black dark:text-white"
                >Количество:
                <span class="italic">{{ product.amount | number }}</span></span
              >
              <span class="text-xs lg:text-sm text-black dark:text-white"
                >Цена
                <span class="italic">{{
                  product.price * product.amount
                    | currency : "RUB" : "symbol-narrow" : ".0-2"
                }}</span></span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
