<section
  class="flex fixed top-0 bottom-0 left-0 right-0 justify-center items-center bg-black/80 z-[50]"
>
  <div
    class="flex justify-center items-center gap-3 p-5 bg-white dark:bg-black shadow-lg rounded-xl flex-col w-[330px] lg:w-[500px] text-center"
  >
    <h1 class="text-xl text-black dark:text-white">
      {{
        modalsService.deleteType === "profile"
          ? "Удаление аккаунта - "
          : "Удаление товара - "
      }}{{
        modalsService.deleteType === "profile"
          ? authService.user.name
          : modalsService.productName
      }}
    </h1>

    <h2 class="text-lg text-black dark:text-white">
      {{
        modalsService.deleteType === "profile"
          ? "Введите имя аккаунта для подтверждения удаления"
          : "Введите название товара для подтверждения удаления"
      }}
    </h2>

    <input
      type="text"
      class="w-full border-2 border-transparent text-black dark:text-white bg-gray-300 dark:bg-[#28282B] rounded-xl p-3 transition-all duration-300 ease-in-out outline-none"
      #name
      (input)="onInput(name.value)"
      [ngClass]="{
        'border-red-600 dark:border-red-600': !validator.name,
        'hover:border-[#D38312] dark:hover:border-blue-600 focus:border-blue-600 dark:focus:border-[#d38312]':
          validator.name
      }"
    />

    <span *ngIf="!validator.name" class="text-xs lg:text-sm text-red-600">{{
      validator.message
    }}</span>

    <div
      *ngIf="modalsService.message"
      class="flex justify-center items-center text-center"
    >
      <span
        class="text-lg select-none"
        [ngClass]="{
          'text-red-600': modalsService.message.startsWith('error:'),
          'text-green-500': !modalsService.message.startsWith('error:')
        }"
        >{{ modalsService.message.replace("error:", "") }}</span
      >
    </div>

    <div class="flex justify-between items-center gap-3 w-full">
      <button
        class="p-3 w-full rounded-xl bg-red-700 transition-all duration-300 ease-in-out hover:bg-red-600"
        (click)="submit()"
      >
        Удалить
      </button>

      <button
        class="p-3 w-full rounded-xl bg-blue-400 dark:bg-[#ba730f] transition-all duration-300 ease-in-out hover:bg-blue-600 dark:hover:bg-[#d38312]"
        (click)="close()"
      >
        Отмена
      </button>
    </div>
  </div>
</section>
