<section class="flex justify-center items-center flex-col">
  <ng-container
    *ngIf="cartService.cart.length || cartService.message; else noProducts"
  >
    <h1
      *ngIf="cartService.cart.length"
      class="text-2xl text-black dark:text-white"
    >
      Корзина ({{ cartService.cart.length | number : ".0" }})
    </h1>

    <button
      *ngIf="cartService.cart.length"
      (click)="createOrder()"
      class="mt-7 p-3 w-[150px] lg:w-[350px] rounded-xl bg-blue-400 dark:bg-[#ba730f] transition-all duration-300 ease-in-out hover:bg-blue-600 dark:hover:bg-[#d38312]"
    >
      {{ cartService.cart.length > 1 ? "Заказать все" : "Заказать" }}
    </button>

    <span
      *ngIf="cartService.message"
      class="mt-7 text-lg"
      [ngClass]="{
        'text-red-600': cartService.message.startsWith('error:'),
        'text-green-500': !cartService.message.startsWith('error:')
      }"
      >{{ cartService.message.replace("error:", "") }}</span
    >

    <div
      class="flex justify-center items-center gap-5 flex-nowrap flex-col lg:flex-row lg:flex-wrap mt-7"
    >
      <div
        *ngFor="let product of cartService.cart"
        class="flex p-2 gap-4 lg:gap-2 w-[250px] lg:w-[350px] flex-col justify-center items-center bg-white dark:bg-black rounded-[20px] border-transparent border-2 transition-all duration-300 ease-in-out hover:border-blue-600 dark:hover:border-[#d38312]"
      >
        <div class="overflow-hidden rounded-[20px]">
          <img
            src="https://robohash.org/{{ product.name.replaceAll(' ', '%20') }}"
            alt="{{ product.name }}"
            class="bg-blue-600 dark:bg-[#d38312] transition-[transform] duration-300 ease-in-out hover:scale-110"
            draggable="false"
          />
        </div>

        <span class="text-sm lg:text-base text-black dark:text-white italic">{{
          product.name
        }}</span>
        <div class="flex justify-between items-center w-full">
          <span class="text-xs lg:text-sm text-black dark:text-white"
            >Количество:
            <span class="italic">{{ product.amount | number }}</span></span
          >
          <span class="text-xs lg:text-sm text-black dark:text-white"
            >Цена
            <span class="italic">{{
              product.price * product.amount
                | currency : "RUB" : "symbol-narrow" : ".0"
            }}</span></span
          >
        </div>

        <div
          class="flex justify-center items-center w-full gap-4 lg:gap-1 flex-col lg:flex-row"
        >
          <button
            class="text-sm lg:text-sm text-black dark:text-white p-2 bg-red-600 rounded-[20px] transition-all duration-300 ease-in-out hover:bg-blue-600 dark:hover:bg-[#d38312] w-full"
            (click)="remove(product.id)"
          >
            Удалить
          </button>
        </div>
      </div>
    </div>
  </ng-container>
</section>

<ng-template #noProducts>
  <section class="flex justify-center items-center text-center">
    <h1 class="text-2xl text-black dark:text-white">Ваша корзина пуста 🛒</h1>
  </section>
</ng-template>
